<td class="remove-col">
  <a href class="text-danger" ng-click=""><i class="glyphicon glyphicon-remove"></i></a>
</td>
<td class="isbn-col">{{fake.id}}</td>
<td class="author-col">{{fake.userId}}</td>
<td class="title-col">{{fake.title}}</td>
<td class="price-col">$ {{fake.body}}</td>
<td class="action-col">
  <!-- <a ng-href="/{{book.id}}"><i class="glyphicon glyphicon-pencil"></i></a> -->
</td>
